body {
    margin: 0;
    padding: 0;
}

.logo h3 {
    font-size: 36px;
    margin: 40px 100px;
    font-family: Poppins;
    cursor: pointer;
}
.nav ul li {
    float: left;
    list-style: none;
}
.nav ul li a {
    text-decoration: none;
}

.button ul {
    float: left;
    list-style: none;
}

.button ul li a {
    text-decoration: none;
}